*{
    margin: 2px;
    padding: 1;
}
body{
    background: #070114 url(../imagenes/fondo2.png)repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8f8f8f;
    width: 100%;
}
header{
    overflow: hidden;
    width: 800px;
    margin: 10px auto 5px auto;
}
header #banner{
    width: 100%;
    height: 150%;
}
header #banner figure #imagenbanner{
    overflow: hidden;
    float:left;
    width: 100%;
    height: 250px;
    background: url(../imagenes/red.jpg);
    border-radius: 10px;
}
header #menu{
    float: right;
    padding: 5px 0;
    width: 550px;
}
header #menu ul li{
    list-style: none;
    float:left;
}
header #menu ul li a{
    display: block;
    margin-left: 5px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
    color: white;
}
header #menu ul li a:hover, header #menu .pag-actual{
    text-decoration:none;
    background:#a0190a;
    border-radius: 5px;
    color: white;
}
section{
    width: 100%;
    overflow: hidden;
    background: white;
}
section #contenedor{
    overflow: hidden;
    width: 800px;
    margin: 0px auto 5px auto;
}
section #contenedor aside{
    float:left;
    width: 220px;
}
section #contenedor aside h2{
    padding: 0px 0px 20px 0px;
    color:black;
    letter-spacing: -1px;
    font-size: 32px;
}
section #contenedor aside ul li{
    list-style: none;
    padding: 15px 0px;
    border-top: 1px dashed #c0afa8;
}
section #contenedor aside ul li a{
    text-decoration: none;
    color: #9e8076;
    font-size:14px;
    
}
section #contenedor article{
    float: right;
    width: 570px;
}
section #contenedor article h2{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform:uppercase;
    padding: 10px 5px ;
}
section #contenedor article .contenido{
    text-align: justify ;
    font-size: 14px;
    padding: 5px;
    line-height: 150%;

}
section #contenedor article .contenido  .alin-izq {
    float: left;
    margin: 10px 10px 5px 0px;
    
}
footer{
    margin: 0px auto;
    padding: 15px 1px;
}
footer p{
    font-size: 20px;
    color: #c5351e;
    text-align: center;
    line-height: 150%;
}
